table {
	text-align: left;
	font-size: 1.1em;
	font-family: inherit;
}

td {
	padding: 0.75em 0;
	text-transform: capitalize;
}

tr {
	border-bottom: 1px solid;
}

th {
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 0.5em;
}

.rating-list {
    clear: both;
    display: table;
    height: 25px;

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	li {
		width: 10%;
		padding-right: 1%;
	    padding-top: 5px;
		float: left;
		display: block;
	}

	img {
		width: 100%;
		display: block;
	}
}



.rating-col {
	width: 20%;
}