<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
	<div class="page-wrapper">
		<div class="header-image">
			<img src="/assets/tlc-header.png" alt="">
		</div>
		<table>
			<thead>
				<tr>
					<th>When</th>
					<th>Where</th>
					<th>Winner</th>
					<th>Loser</th>
					<th>Meatiness</th>
					<th>Cheesiness</th>
					<th>FW Stars</th>
				</tr>
			</thead>
			<tbody>
			{{#each reviews}}
				<tr>
					<td>{{when}}</td>
					<td>{{where}}</td>
					<td>{{winner}}</td>
					<td>{{loser}}</td>
					<td>{{meat}}</td>
					<td>{{cheese}}</td>
					<td>
						<ul class="rating-list rating-{{rating}}">
							{{ratings}}
						</ul>
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</body>
</html>